#### Virtual Env ####

venv/*

#### Python ####

*.pyc

#### Pycharm and Webstorm ####

.idea/*
app/frontend/.idea/*

#### Database ####
*.db

#### Logs ####
*.log

#### Dependencies ####

app/angular_app/bower_components/*
app/angular_app/node_modules/*
