#### Virtual Env ####

venv/*

#### Python ####

*.pyc

#### Pycharm ####

.idea/*

#### Database ####
*.db

#### Logs ####
*.log

#### Dependencies ####

app/frontend/static/bower_components/*
app/frontend/static/node_modules/*
